*Setup*

In [1]:
import pyodbc
# pyodbc is an open source Python module that makes accessing ODBC databases simple
import pandas as pd
# pandas is a Python package/module(?) that provides fast, flexible, and expressive data structures designed to make working with "relational" or "labeled" data both easy and intuitive
# pandas is an open source data analysis library built on top of the Python programming language
# The as pd portion of the code then tells Python to give pandas the alias of pd. This allows you to use pandas functions by simply typing pd.function_name rather than pandas.function_name.
import getpass
# password input

In [2]:
# Specify database connection parameters
server = "ifw9ecos-bvdb11.fws.doi.net\ecos_beta"
database = "IRIS_DataWarehouse"

# Uncomment if not using Windows authentication
username = input()
# The input() function allows user input. Program flow will be stopped until the user has given an input
password = getpass.getpass()
# The getpass() function of getpass prompts the user to enter a password. By default the keys entered by user in the terminal are not echoed.

TempLogin4KhemSo
········

In [3]:
##----------------------------------------------------
# Create a database connection object using a Data Source Name (DSN)
# defined by the Windows ODBC Data Source Administrator
##----------------------------------------------------
#dsn_name = ""
#db_connection = pyodbc.connect("DSN="+dsn_name+";UID="+username+";PWD="+password)

##----------------------------------------------------
#  Create a database connection object by specifying connection parameters
##----------------------------------------------------

# Uncomment if not using Windows authentication
db_connection = pyodbc.connect("\
    DRIVER={SQL Server};\
    SERVER=" + server + ";\
    PORT=1443;\
    DATABASE=" + database + ";\
    UID=" + username + ";\
    PWD=" + password)

# connect Python to SQL Server
# connect Python to SQL Server
# connecting to SQL using pyodbc, use connect
# The PYODBC connection string, if connecting outside of the network the SQL Server is on, requires a port number. Simply add 'PORT=1433
# https://datatofish.com/how-to-connect-python-to-sql-server-using-pyodbc/

#db_connection = pyodbc.connect("\
#    DRIVER={SQL Server};\
#    SERVER=" + server + ";\
#    PORT=1443;\
#    DATABASE=" + database + ";\
#    Trusted_Connection=yes")

In [4]:
cursor = db_connection.cursor()
#The cursor object allows us to execute queries and retrieve rows. The cursor object is an instance of MySQLCursor class.
#A cursor is an object which helps to execute the query and fetch the records from the database.
#Cursors are simply objects used for executing SQL commands and retrieving the results.

#Python is an object-oriented programming language. Everything is in Python treated as an object, including variable, function, list, tuple, dictionary, set, etc

*Create Queries*

In [5]:
#PRIMRsurveyID = 'FF01RCOP00-003'
#PRIMRsurveyID = 'FF01RPLM00-007'
PRIMRsurveyID = 'FF01RORG00-072'
#print(PRIMRsurveyID)

In [6]:
queryIdentification = "SELECT [SurveyCode],[Station],[SurveyName], [SurveyType],[ResourceThemeLevel1],[ResourceThemeLevel2] ,[AnswerQ1],[AnswerQ2],[AnswerQ3],[AnswerQ4],[SurveyCoordinatorName],[SurveyCoordinatorTitle],[StationName],[SurveyArea],[ManagementUnits] FROM [IRIS_DataWarehouse].[Refuges].[VW_Surveys] WHERE [SurveyCode] = '" + PRIMRsurveyID + "';"
dfIdentification = pd.read_sql(queryIdentification, db_connection)
dfIdentification

,SurveyCode,Station,SurveyName,SurveyType,ResourceThemeLevel1,ResourceThemeLevel2,AnswerQ1,AnswerQ2,AnswerQ3,AnswerQ4,SurveyCoordinatorName,SurveyCoordinatorTitle,StationName,SurveyArea,ManagementUnits
0,FF01RORG00-072,FF01RORG00,Tufted Puffin - Breeding Distribution and Abun...,Monitoring to Inform Management,Biological Integrity,Other Biota,UNK,To determine breeding population and colony at...,Breeding population estimate,UNK,Shawn Stephensen,Wildlife Biologist,Oregon Islands National Wildlife Refuge,Multiple stations,UNK

In [7]:
queryKeywords = "SELECT Refuges.DimKeyword.Name as theme FROM Refuges.DimKeyword RIGHT OUTER JOIN Refuges.DimSurvey INNER JOIN Refuges.FactSurveys ON Refuges.DimSurvey.ID = Refuges.FactSurveys.SurveyID INNER JOIN Refuges.FactSurveyKeywords ON Refuges.FactSurveys.SurveyID = Refuges.FactSurveyKeywords.SurveyID ON Refuges.DimKeyword.ID = Refuges.FactSurveyKeywords.KeywordID WHERE Refuges.DimSurvey.SurveyCode = '" + PRIMRsurveyID + "';"
# query
dfKeywords = pd.read_sql(queryKeywords, db_connection)
# creates a dataframe
#pandas.read_sql reads SQL query or database table into a DataFrame
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql.html
# pd.read_sql(sql, con)
# sql = SQL query to be executed 
# con = SQLAlchemy connectable, str, or sqlite3 connection
dfKeywords
#dfKeywords.to_csv("keywords.csv")

                     theme
0  Pacific Seabird Program

In [8]:
querySurveyCoordinator = "SELECT Refuges.DimSurvey.SurveyCode, Refuges.DimSurvey.SurveyCoordinatorName, DimStaff.Title, DimStaff.OrganizationCode, DimStaff.City, DimStaff.StateCode, DimStaff.ZipCode, DimStaff.PhoneNumber, DimStaff.CellNumber, DimStaff.Email, DimStaff.Office, DimStaff.Department, DimOrganization.OrgCode FROM FactStaff INNER JOIN DimStaff ON FactStaff.StaffID = DimStaff.ID AND FactStaff.StaffID = DimStaff.ID AND FactStaff.StaffID = DimStaff.ID INNER JOIN DimOrganization ON FactStaff.OrganizationID = DimOrganization.ID AND FactStaff.OrganizationID = DimOrganization.ID AND FactStaff.OrganizationID = DimOrganization.ID RIGHT OUTER JOIN Refuges.DimSurvey ON DimStaff.FullName = Refuges.DimSurvey.SurveyCoordinatorName WHERE Refuges.DimSurvey.SurveyCode = '" + PRIMRsurveyID + "';"
#create query
dfSurveyCoordinator = pd.read_sql(querySurveyCoordinator, db_connection)
# create a dataframe. pandas.read_sql reads SQL query into a DataFrame
dfSurveyCoordinator
# view dataframe
# dfSurveyCoordinator.to_csv("surveycoordinator.csv")
# save as csv

,SurveyCode,SurveyCoordinatorName,Title,OrganizationCode,City,StateCode,ZipCode,PhoneNumber,CellNumber,Email,Office,Department,OrgCode
0,FF01RORG00-072,Shawn Stephensen,Wildlife Biologist,FF01ROCC00,Newport,OR,97365,541 867-4550,541-270-1863,Shawn_Stephensen@fws.gov,"Newport, OR",Refuges,13594

In [9]:
queryBioticGroup = "SELECT Refuges.DimSurvey.SurveyCode, Refuges.DimBioticGroup.ITIS_TSN, Refuges.DimBioticGroup.ITIS_TSN_Parent, Refuges.DimBioticGroup.ScientificName_Parent, Refuges.DimBioticGroup.CommonName_Parent,     Refuges.DimBioticGroup.Rank_Parent FROM Refuges.FactSurveyBioticGroups INNER JOIN Refuges.DimSurvey ON Refuges.FactSurveyBioticGroups.SurveyID = Refuges.DimSurvey.ID INNER JOIN Refuges.DimBioticGroup ON Refuges.FactSurveyBioticGroups.BioticGroupID = Refuges.DimBioticGroup.ID WHERE Refuges.DimSurvey.SurveyCode = '" + PRIMRsurveyID + "';"
dfBioticGroup = pd.read_sql(queryBioticGroup, db_connection)
dfBioticGroup
#dfBioticGroup.to_csv("bioticgroup.csv")

Empty DataFrame
Columns: [SurveyCode, ITIS_TSN, ITIS_TSN_Parent, ScientificName_Parent, CommonName_Parent, Rank_Parent]
Index: []

*Working with metadata XML*

In [10]:
from pymdwizard.core.xml_utils import XMLRecord, XMLNode #import in this manner requires adding a path file to your site-packages directory
# import nodes

test = "C:/Users/lgoetze/scripting/Git/Git/PRIMR_to_FGDC/PRIMR_Metadata_Template_20220429.xml"
#set WD to metadata template
original_md = XMLRecord(test)
#load XML
# original_md 
# view XML

In [11]:
# one-to-one is easy
# edit individual node text
original_md.metadata.idinfo.citation.citeinfo.title.text = dfIdentification.at[0,'SurveyName']
# set title 'text' node in XML to "survey name" value in 0 row (first row) of dfIdentification pandas dataframe
original_md.metadata.idinfo.ptcontac.cntinfo.cntorgp.cntper.text = dfSurveyCoordinator.at[0,'SurveyCoordinatorName']
original_md.metadata.idinfo.ptcontac.cntinfo.cntpos.text = dfSurveyCoordinator.at[0,'Title']

In [ ]:
#original_md

In [12]:
# gather keywords from a variety of queries and append into one dataframe
dfKeywordsSet = (
    pd.DataFrame(dfIdentification)
    .loc[:, ['ResourceThemeLevel1', 'ResourceThemeLevel2', 'SurveyType', 'SurveyCode']]
    .melt()
#melt () function is used to unpivot a given DataFrame from wide format to long format
    .drop(columns=['variable'])
# remove the 'variable' columns because the values will all fall under a 'theme' column
    .rename(columns={'value':'theme'})
# rename column
    .append(dfKeywords)
# append keywords from the 'dfkeywords' dataframe
    .append((
        pd.DataFrame(dfBioticGroup)
        .loc[:, ['ScientificName_Parent']]
        .melt()
        .drop(columns=['variable'])
        .rename(columns={'value':'theme'})),
        ignore_index=True
    )
# append 'dfBioticGroup'
)
dfKeywordsSet

                             theme
0             Biological Integrity
1                      Other Biota
2  Monitoring to Inform Management
3                   FF01RORG00-072
4          Pacific Seabird Program

In [13]:
dfKeywordsSet.iloc[0][0]
#call cell values from "dfKeywordsSet" df (0 row, 0 column)

'Biological Integrity'

In [18]:
kw = original_md.metadata.idinfo.keywords
#assign kw to node of intereset (keyword)
kw.clear_children('theme')
#clear theme node
kw

<keywords>
  <place>
    <placekt>FWS-PRIMR</placekt>
    <placekey>Survey  Area</placekey>
    <placekey>Management Units</placekey>
  </place>
</keywords>

*Leana testing how to create xml using lxml*

In [ ]:
#dfKeywordsSet.columns.format()
#dfKeywordsSet.index.format()

In [ ]:
# from lxml import etree
# root = etree.XML('<root><a><b/></a></root>')
# etree.tostring(root)
# print(etree.tostring(root, xml_declaration=True))
# print(etree.tostring(root, encoding='iso-8859-1'))
# print(etree.tostring(root, pretty_print=True).decode())

In [ ]:
# from lxml import etree

# root = etree.Element('theme')
# etree.SubElement(root, 'themekt').text = 'themekt_test'
# etree.SubElement(root, 'themekey').text = 'themekey_test'
# # Be mindful when adding assigning variables after
# # the .text on SubElement call, as it will return 
# # the text and not the Element
# #etree.SubElement(inventory, 'themekt', {'count': '5'}).text = 'Golden Delicious'
# #employees = etree.SubElement(store, 'themekey')
# #etree.SubElement(employees, 'SearingFrost', {'title': 'writer'})

# XMLNode(etree.tostring(root, pretty_print=True).decode())

In [15]:
import lxml
from lxml import etree as et

def createXMLNode_from_df_LG(df, element_tag, subelement_tag, optional_subelement_tag, optional_subelement_text):
    
    element = et.Element(element_tag)
    et.SubElement(element, optional_subelement_tag).text = optional_subelement_text
# if there are ever more than one <optional_subelement_tag> than we should add it to the loop below
    
    for row in df.iterrows():
        subelement = et.SubElement(element, subelement_tag)
        subelement.text = str(row[1][0])

    return(XMLNode(et.tostring(element, pretty_print=True).decode('utf-8')))

new_node = createXMLNode_from_df_LG(dfKeywordsSet, "theme", "themekey", "themkt", "Add 'themeky' text here")

# Resource: https://stackoverflow.com/questions/49439008/creating-an-xml-file-from-a-dataframe-using-python-and-lxml

In [16]:
new_node

<theme>
  <themkt>Add 'themeky' text here</themkt>
  <themekey>Biological Integrity</themekey>
  <themekey>Other Biota</themekey>
  <themekey>Monitoring to Inform Management</themekey>
  <themekey>FF01RORG00-072</themekey>
  <themekey>Pacific Seabird Program</themekey>
</theme>

In [19]:
kw.add_child(new_node)
kw

<keywords>
  <place>
    <placekt>FWS-PRIMR</placekt>
    <placekey>Survey  Area</placekey>
    <placekey>Management Units</placekey>
  </place>
  <theme>
    <themkt>Add 'themeky' text here</themkt>
    <themekey>Biological Integrity</themekey>
    <themekey>Other Biota</themekey>
    <themekey>Monitoring to Inform Management</themekey>
    <themekey>FF01RORG00-072</themekey>
    <themekey>Pacific Seabird Program</themekey>
  </theme>
</keywords>

In [ ]:
original_md.save(fname='PRIMR_Metadata_Template_20220429Testing_lg.xml')

*Khem's code*

In [ ]:
def createXMLNode_from_df(df, subelement_tag, optional_element_tag):
# “def” is short for the word “define” and it is used to signify the beginning of a function definition in Python
# createXMLNode_from_df() is the function
# specify df, subelement tag, and optional element tag
    xml_data = ['<root>']
# create starting point
    for column in df.columns:
        xml_data.append('<{}>'.format(column))# Opening element tag
# adds the "theme" node"
        xml_data.append(optional_element_tag.format(column))
# adds the "themekt" node
        for field in df.index:
# for every row in df.index
# writing sub-elements
            xml_data.append('<temp_tag>{1}</temp_tag>'.format(field, df[column][field]))
# append creating <temp_tag>
        xml_data.append('</{}>'.format(column))  # Closing element tag
# close theme
    xml_data.append('</root>')
# close root

    my_string = ""
    for i in xml_data:
        my_string += ('{}').format(i)

    new_string = (
        my_string
            .replace('<root>','')
            .replace('</root>','')
        # remove root node
            .replace('temp_tag',subelement_tag)
        # replace <temp_tag> with <themekey>
    )
    return(XMLNode(new_string))

newKW = createXMLNode_from_df(dfKeywordsSet, "themekey", "<themekt>FWS-PRIMR</themekt>")
newKW


# lxml generate xml from table
# parse and create xml
# for this node in the metadata
# run ad hoc query and import into access database- database has all relatinships set up
# store mapping in a dataframe
# if we provide the mapping then create a generic functions that you can call

In [ ]:
kw = original_md.metadata.idinfo.keywords
#assign kw to node of intereset (keyword)
kw.clear_children('theme')
kw.add_child(newKW)
kw
# add child

In [ ]:
# write to new xml
original_md.save(fname='PRIMR_Metadata_Template_20220429Testing.xml')
# save